<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <style type="text/css">
    body {
      background-color: black;
      color: white;
      text-align: center;
    }

    .lights {
      text-align: center;
    }

    .frontImage, .backImage {
      position: absolute;
      background-image: url(https://www.freeiconspng.com/uploads/bulb-off-bulb-on-icon-30.jpg);
      background-size: 250px 250px;
      background-repeat: no-repeat;
      width: 125px;
      height: 250px;
    }

    .imageContainer {
      position: relative;
      display: inline-block;
      width: 125px;
    }

    .frontImage {
      background-position-x: -125px;
    }

    #red, #green {
      display: inline-block;
      width: 49%;
      height: 200px;
    }

    #red {
      background-color: red;
    }

    #green {
      background-color: green;
    }

  </style>
</head>

<body>
  <div> 
    <h1 id="flashingHeader">TESTING FLASHING TEXT!!</h1>
  </div>
  <div>
    <div id="red"></div>
    <div id="green"></div>
  </div>
  <div class="lights">
    <div class="imageContainer">
      <div class="backImage"></div>
      <div id="frontImage01" class="frontImage"></div>
    </div>
  </div>
</body>

</html>